{% load static %}
<html>
<head>
<title> 360</title>
<meta name="viewport" content ="width=device-width, initial-scale=1.0">
<script>
function getimg()
{
	setInterval(function(){imgfun()},100);
}
function imgfun()
{
	var imgvalu=document.getElementById("imgrange").value;
	document.getElementById("imgg").src="{% static 'web/images/"+imgvalu+".jpg' %}";
}
</script>
</head>
<body onload="getimg()">
<center>
<img src="" width="800" height="400" id="imgg" style="border:2px solid black; border-radius:20px"/>
<br>
<input type="range" value="1" min="1" max="8" id="imgrange">
</center>
</body>
</html>