<html>
<body>
  {% for i in staff %}
     <h1>{{i.email}}</h1>
     <h1>{{i.password}}</h1>
     <h1>{{i.name}}</h1>
     <h1>{{i.desg}}</h1>
  {% endfor %}
  </br><hr>
  {% for i in leave %}
     <h1>{{i.id}}</h1>
     <h1>{{i.name}}</h1>
     <h1>{{i.rno}}</h1>
     <h1>{{i.heading}}</h1>
     <h1>{{i.sender}}</h1>
     <h1>{{i.status}}</h1>
     <h1>{{i.reason}}</h1>
     <h1>{{i.df}}</h1>
     <h1>{{i.dt}}</h1>
  {% endfor %}
  </br><hr>
  {% for i in ss %}
     <h1>{{i.id}}</h1>
     <h1>{{i.email}}</h1>
     <h1>{{i.name}}</h1>
     <h1>{{i.pno}}</h1>
     <h1>{{i.add}}</h1>
     <h1>{{i.date|date:""}}</h1>
     <h1>{{i.update}}</h1>
     <h1>{{i.total}}</h1>
     <h1>{{i.left}}</h1>
  {% endfor %}
</body>
</html>