{% load static %}
<html>
<head>
<title>login</title>
<link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
</head>
<body>
<img src="{% static 'web/main.jpg' %}"  width="1400px" height="700px" style="opacity:0.3;"/>
<div class="loginbox">
<img src="{% static 'web/sssss.png' %}" class="avatar">
<h1>You need to login</h1>
<a href="login/"><h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	Login Here </h2></a>
</form>
</div>
</body>
</html>
